* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

.meutitulo {
  color: #16479d;
  margin-bottom: 1em;
  font-size: 2.1em;
}

.personal-h1{
  /* color: var(--bs-gray-600); */
color :rgba(33, 37, 41, 0.5);
}